__pycache__/deepl_pdf.cpython-311.pyc
deepl_pdf.egg-info/dependency_links.txt
deepl_pdf.egg-info/entry_points.txt
deepl_pdf.egg-info/PKG-INFO
deepl_pdf.egg-info/requires.txt
deepl_pdf.egg-info/SOURCES.txt
deepl_pdf.egg-info/top_level.txt
auth_key.txt
